*.s
.vscode
.cache
build/
.a
tests/lexer/results/
tests/parser-semant/results/
tests/codegen/results/
tests/codegen/tests/*.o
tests/parser-semant/tests/*.o
lib/
bin/
.clangd/
compile_commands.json
out/